# Ignore Visual Studio files
.vs/
*.suo
*.user
*.cache

# Ignore build results
bin/
obj/

# Ignore application configuration files
appsettings.json
appsettings.Development.json

# Ignore temporary files
*.log
*.tmp
*.bak
